@mixin border-radius($radius) {
    -webkit-webkit-border-radius: $radius;
    -moz-webkit-border-radius: $radius;
    -ms-webkit-border-radius: $radius;
    -o-webkit-border-radius: $radius;
    border-radius: $radius;
}